.content.dataset-index
  .heading-wrapper.clearfix
    %h2 Datasets
    .right= link_to "Upload a new dataset", new_dataset_path, :class => "orange-button"

  - if @datasets.nil? or @datasets.empty?
    %p
      No datasets uploaded.
      = link_to "To begin using MOCK, upload a new dataset", new_dataset_path
      \.
    %p
      If you don't have one
      = link_to "try this sample", "/sample/wine2.csv"
      \.
  - else
    %ul.index-list
      - @datasets.each do |dataset|
        %li.index-list-item.clearfix{:id => dataset.id}
          %p
            %span.name= dataset.name
            %span.date= "Uploaded at #{dataset.created_at.strftime("%H:%M %-d/%-m/%Y")}"
        %li.slider-options-wrapper{:id => "options-#{dataset.id}"}
          %ul.slider-options
            %li
              %a{href: dataset_path(dataset.id)}
                %p View
            %li
              %a{href: new_run_path(:dataset => dataset.id)}
                %p Run MOCK
            %li
              = button_to "Delete", destroy_dataset_path(dataset), :method => :delete, :class => "delete-button", :onclick => "return confirm('Are you sure you want to delete #{dataset.name}?')"
