.content.dataset-index
  .heading-wrapper.clearfix
    %h2 Datasets
    .create-dataset= link_to "Upload a new dataset", new_dataset_path, :class => "orange-button"

  - if @datasets.nil? or @datasets.empty?
    %p
      No datasets uploaded.
      = link_to "To begin using MOCK, upload a new dataset", new_dataset_path
      \.
    %p
      If you don't have one
      = link_to "try this sample", "/sample/wine2.csv"
      \.
  - else
    %ul.datasets
      - @datasets.each do |dataset|
        %li.dataset-wrapper{:id => dataset.id}
          .delete-icon
            = button_to "X", destroy_dataset_path(dataset), :method => :delete, :class => "delete-button", :onclick => "return confirm('Are you sure you want to delete #{dataset.name}?')"
          .run-create-link
            = link_to "Run MOCK", new_run_path(:dataset => dataset.id), :dataset => dataset.id
          = link_to dataset.name, dataset
        %li.slider-options-wrapper{:id => "options-#{dataset.id}"}
          %ul.slider-options
            %a{href: dataset_path(dataset.id)}
              %li
                %p View
            %a{href: new_run_path(:dataset => dataset.id)}
              %li
                %p Run MOCK
            %a{href: dataset_path(dataset.id)}
              %li
                = button_to "Delete", destroy_dataset_path(dataset), :method => :delete, :onclick => "return confirm('Are you sure you want to delete #{dataset.name}?')"
