.evidence-accumulation-solution-show
  .graph-width-wrapper
    .heading-wrapper.clearfix
      %h2= "Solution #{@solution.generated_solution_id} Dendrogram"
      = link_to "Back", run_path(:id => @run.id, :last_solution => @solution), :class => "back-button orange-button"

    .evidence-accumulation-solution
      #dendrogram

    - if !@solution.nil?
      .options-wrapper
        %form
          %ul
            %li
              = label_tag :hide_unanimous_branches, "Hide unanimous branches"
              = check_box_tag :hide_unanimous_branches, 1, false, class: "check-box-input"