.run-index
  .heading-wrapper.clearfix
    %h2 Runs
    .right= link_to "Perform a MOCK run", datasets_path, :class => "orange-button"

  - if !@runs.nil? and !@runs.empty?
    %ul.index-list
      - @runs.each do |run|
        %li.index-list-item.clearfix{:id => run.id}
          %p
            %span.name= "#{run.dataset.name}"
            - if run.evidence_accumulation
              %span.evidence_accumulation with Evidence Accumulation
            %span.date= "Performed at #{run.created_at.strftime("%H:%M %-d/%-m/%Y")}"
        %li.slider-options-wrapper{:id => "options-#{run.id}"}
          %ul.slider-options
            %li
              %a{href: run_path(run.id)}
                %p View
            %li
              = button_to "Delete", destroy_run_path(run), :method => :delete, :class => "delete-button", :onclick => "return confirm('Are you sure you want to delete this run for #{run.dataset.name}?')"
  - else
    %p
      This looks like your first time running MOCK. To begin
      = link_to "select a dataset to run.", datasets_path