%h2 Runs

- if !@runs.nil? and !@runs.empty?
  %ul
    - @runs.each do |run|
      %li
        = link_to "#{run.dataset.name} at #{run.created_at}", run
- else
  %p
    This looks like your first time running MOCK. To begin, follow the instructions below:
  %ol
    %li
      Select a data file from below that you want to use (if you can't see any,
      = link_to "try uploading a new data file", new_dataset_path
      )
    %li
      Select a MOCK run from the list below to see the results

- if !@datasets.nil? and !@datasets.empty?
  %h2 Perform another Run
  %p Select a dataset from below:
  %ul
    - @datasets.each do |dataset|
      %li
        = link_to dataset.name, dataset
