.run-show{ :data => { :id => @run.id } }
  .graph-width-wrapper.clearfix
    %h2
      = "Run #{@run.id}"
      - if !@evidence_accumulation_status.nil?
        %span.status= @evidence_accumulation_status
    - if @run.evidence_accumulation? and @run.completed?
      = link_to "View dendrogram", evidence_accumulation_solution_path(@run.evidence_accumulation_solution), :class => "view-dendrogram orange-button"

  .graph-width-wrapper
    %p Hover over the gold solution line and click to view a clustering solution.

  .solution-front
    #solution-front-graph

  .graph-width-wrapper
    .options-wrapper
      %form{ :onsubmit => "return false;"}
        %ul
          %li
            = label_tag :solution_number, "Show best "
            = number_field_tag :solution_number, nil, in: 0..@run.solutions.count, class: "number-field"
            solutions using
            = radio_button_tag :solution_measure, :silhouette_width, false, class: "radio"
            = label_tag :solution_measure_silhouette_width, " Silhouette width "
            = radio_button_tag :solution_measure, :control_distance, false, class: "radio"
            = label_tag :solution_measure_control_distance, " Control distance "

