= javascript_include_tag "application"
= javascript_include_tag "solution"
= javascript_include_tag "solutionfront"
= javascript_include_tag "d3"
= javascript_include_tag "newick"
= javascript_include_tag "dendrogram"