%header
  .width-wrapper
    %h1 MOCK Visualisation

%nav
  .width-wrapper
    %ul
      %li.nav-tab
        = link_to "Datasets", datasets_path
      %li.nav-tab
        = link_to "Runs", runs_path
      %li.nav-tab.sign-up-in
        - if user_signed_in?
          = link_to "Log Out", destroy_user_session_path, :method => "delete"
        - else
          = link_to "Log In", new_user_session_path
      %li.nav-tab.sign-up-in
        - if user_signed_in?
          = link_to current_user.name, edit_user_registration_path
        - else
          = link_to "Register", new_user_registration_path