.solution-show
  .graph-width-wrapper.heading-wrapper.clearfix
    %h2= "Solution #{@solution.generated_solution_id}"
    = link_to "Back", run_path(:id => @solution.run.id, :last_solution => @solution.id), :class => "back-button orange-button"

  .graph-width-wrapper
    %p Click on the legend boxes to filter clusters

  .solution
    %svg#solution-graph

  .graph-width-wrapper
    .options-wrapper
      %form
        %ul
          %li.dimension
            = label_tag :x_dimension
            = select_tag :x_dimension, options_for_select(1..@dataset.columns, 1), :class => "dimension-select"
          %li.dimension
            = label_tag :y_dimension
            = select_tag :y_dimension, options_for_select(1..@dataset.columns, 2), :class => "dimension-select"
          %li.mds
            = label_tag :multidimensional_scaling, "Multi-dimensional scaling"
            = check_box_tag :multidimensional_scaling
            %span.help{"original-title" => "Multidimensional scaling reduces the dimensions of the data down to two. Useful for when the data's dimensionality is high."} ?

