%h2 Solution Clusters

%ul
  %li
    .solution-page.tab.active-tab.graph
      %svg#solution-graph
  / %li
  /   .dendrogram-page.tab.graph
  /     #dendrogram

%ul
  - @solution.clusters.each do |cluster|
    %li
      = link_to cluster.generated_cluster_id, cluster

= include_gon
= javascript_include_tag "d3/d3.js"
= javascript_include_tag "d3/d3.dendrogram.js"
= javascript_include_tag "d3/d3.solution.js"
