%h2 Solution Clusters


.solution-page.tab.active-tab.graph
  %svg#solution-graph

//.dendrogram-page.tab.graph
//  #dendrogram

%p
  - @solution.clusters.order(:generated_cluster_id).each do |cluster|
    = link_to cluster.generated_cluster_id, cluster
    = " "

= include_gon
= javascript_include_tag "d3/d3.js"
= javascript_include_tag "d3/d3.dendrogram.js"
= javascript_include_tag "d3/d3.solution.js"
