!!!
%html
  %head
    %title MOCK Visualisation Tool
    = stylesheet_link_tag "application", media: "all"
    = csrf_meta_tags
    = include_gon :watch => true
    = javascript_include_tag "application"
  %body{ :class => @body_classes }
    = render "header"
    %main
      .width-wrapper
        = yield
    = render "footer"